.rojo {
    color: red;
}

.azul {
    color: blue;
}

#semaforo {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 203, 4);
    padding: 40px;
    border-radius: 15px;
    border: black 5px groove;
    margin: auto;
    box-shadow: -3px 0px 27px 21px rgba(0, 0, 0, 0.61);
}

.luz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: black 5px solid;
    margin: 10px;
}

.off {
    background-color: #333;
}

.verde {
    background-color: green;
}

.amarilla {
    background-color: orange;
}

.roja {
    background-color: crimson;
}